In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.69-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\nazhan\anaconda3\lib\site-packages (from yfinance) (4.6.1)
Requirement already satisfied: pandas>=0.24 in c:\users\nazhan\anaconda3\lib\site-packages (from yfinance) (1.1.3)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\nazhan\anaconda3\lib\site-packages (from yfinance) (1.19.2)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\nazhan\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\nazhan\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nazhan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nazhan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.25.11)
Collecting charset-normalizer~=2.0.0; python_version >= "3"
  Downloading charset_normalizer-2.0.10-py3-none-any.whl (39 kB)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\nazhan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in c:\users\nazhan\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8504 sha256=1858a9251fbd1637fbf71fc4d2725b76724bcf09978e3592d47bceb46775987a
  Stored in directory: c:\users\nazhan\appdata\local\pip\cache\wheels\21\c9\66\b41c847de65c7985db52ec21d59996841598b8b0e93f2b9500
Successfully built multitasking
Installing collected packages: charset-normalizer, requests, multitasking, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.24.0
    Uninstalling requests-2.24.0:
      Successfully uninstalled requests-2.24.0
Successfully installed charset-normalizer-2.0.10 multitasking-0.0.10 requests-2.27.1 yfinance-0.1.69

ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

conda 4.10.3 requires ruamel_yaml_conda>=0.11.14, which is not installed.

In [2]:
import yfinance as yf

In [3]:
df = yf.download(tickers='FB',start='2019-01-01', end='2019-12-31', progress=False)

In [4]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,134.449997,134.639999,129.949997,131.089996,131.089996,24625300
2019-01-02,128.990005,137.509995,128.559998,135.679993,135.679993,28146200
2019-01-03,134.690002,137.169998,131.119995,131.740005,131.740005,22717900
2019-01-04,134.009995,138.000000,133.750000,137.949997,137.949997,29002100
2019-01-07,137.559998,138.869995,135.910004,138.050003,138.050003,20089300

## Amazon Time Series data

In [5]:
data = yf.download('AMZN',start='2019-01-01', end='2019-12-31', progress=False)

In [6]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,1510.800049,1520.760010,1487.000000,1501.969971,1501.969971,6954500
2019-01-02,1465.199951,1553.359985,1460.930054,1539.130005,1539.130005,7983100
2019-01-03,1520.010010,1538.000000,1497.109985,1500.280029,1500.280029,6975600
2019-01-04,1530.000000,1594.000000,1518.310059,1575.390015,1575.390015,9182600
2019-01-07,1602.310059,1634.560059,1589.189941,1629.510010,1629.510010,7993200